{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
  <title>DAB website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<!-- https://user-images.githubusercontent.com/69735000/208339849-f5f07bf6-b743-4d54-953b-fc5cbec387be.png -->

<body>

  <!-- HOME PAGE STARTS HERE -->
  <div class="container-fluid">
    <div class="line"></div>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light">
        <div class="navbar-brand">
          <div class="container ms-sm-0 ms-md-5">
            <div class="row">
              <div class="col-12">
                <div class="logoContainerLrg">openPASS</div>
              </div>

              <div class="col-12">
                <div class="logoContainerSml">Open-Source, Plug-and-Play, Aerial Crop Scouting for Soybean Fields</div>
              </div>
            </div>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
          aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav ms-auto text-center">
            <li>
              <a class="nav-link me-2 active" href="#">Home</a>
            </li>
            <li>
              <a class="nav-link me-2" href="#testimonialOne">Testimonials</a>
            </li>
            <li>
              <a class="nav-link me-2" href="#product">Product</a>
            </li>
            <li>
              <a class="nav-link me-2 " href="#demo" data-bs-toggle="modal" data-bs-target="#exampleModal">Demo</a>
            </li>
            <li>
              <a class="nav-link me-2" href="#about">About</a>
            </li>
            <li>
              <a class="nav-link me-2" href="#contact">Contact</a>
            </li>
          
            {% include 'signin.html' %}
     
          </ul>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <div id="parent" class="row ">
        <div id="sloganNInfo" class="col-md-6 col-sm-12 adjustPic">
          <div id="slogan" class="container-fluid adjustSlogan">

            <div class="bigSlogan">To advance digital <br>agriculture <br>infrastructure</div>
            <!-- to advanced digital agriculture infrastracture -->
            <div class="smallSlogan ">Fully autonomous crop scouting for farmers</div>
            <!-- fully autonomouse crop scouting for farmers -->
            <button type="button" class="btn homeBtn adjustHomeBtn">
              Get Started
            </button>
          </div>

          <div id="infoBoxes" class="container-fluid adjustInfo" style="background-color: white;">
            <div class="row logos">
              <div class="col-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-3">
                      <img
                        src="https://user-images.githubusercontent.com/69735000/210031679-917d2b37-678c-47b6-96de-3e286895a04d.png"
                        class="float-start smlInfoLogo">
                      </img>
                    </div>
                    <div class="col-9">
                      <div class="infoContainer">
                        Map fields autonomously<br> and continiously
                        <!--  map fields autonomously and continiously-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-3">
                      <img
                        src="https://user-images.githubusercontent.com/69735000/210151898-4cf6620b-a775-4c71-9cb5-d68191adad62.png"
                        class="float-start smlInfoLogo">
                      </img>
                    </div>
                    <div class="col-9">
                      <div class="infoContainer">
                        Make better crop<br>management decisions
                        <!-- make better crop management decisions -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-3">
                      <img
                        src="https://user-images.githubusercontent.com/69735000/210152313-40227037-3f44-4953-8848-78d0c43a234b.png"
                        class="float-start smlInfoLogo">
                      </img>
                    </div>
                    <div class="col-9">
                      <div class="infoContainer">
                        State of the art <br>edge computing
                        <!-- state of the art edge computing -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="pic" class="col-md-6 adjustSloganNInfo">
          <img
            src="https://user-images.githubusercontent.com/69735000/210019352-a3d5a913-d351-40d0-bb96-14f1ccb9da0b.png"
            class="float-start adjustImg float-left">
        </div>
      </div>
    </div>
  </div>

  <!-- HOME PAGE END HERE & TESTIMONIALS STARTS -->
  <div id="testimonialOne" class="container-fluid testimonialContainer">
    <div class="container-fluid testimonialStyleContainer">
    </div>
    <div class="container-fluid">
      <div class="row row-cols-auto">
        <div class="col-4 testimonialSentenceLg">
          With the Right <br>Software, Great<br> Things Can Happen
        </div>
        <div class="col-4 testimonialSentenceSm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus nunc a dapibus sodales.
          Aliquam odio nibh, fringilla at est sed, tincidunt venenatis arcu. In est sapien, dapibus ac nunc et,
          porttitor fringilla elit. Morbi et erat nec erat consectetur tempus id id nunc. Nam ac auctor mauris.
          In nec orci sit amet est pulvinar volutpat. Maecenas vehicula, mi venenatis condimentum semper,
          ipsum mauris feugiat elit, eget convallis lectus erat vel leo. Praesent congue mi ut malesuada convallis.
          Suspendisse potenti.
          Ut consequat lorem ac enim convallis, ac sodales urna dignissim.
        </div>
      </div>
    </div>
  </div>


  <!-- TESTIMONIALONE PAGE END HERE & PRODUCT STARTS -->
  <div id="product" class="container-fluid productContainer">
    <div class="container-fluid productInfo">
      <div class="row">
        <div class="col-1" style="background-color:white;">
        </div>
        <div class="col-10">
          <div class="productInfoTitle">
            What we offer
          </div>
          <div class="productInfoDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus nunc a dapibus sodales.
            Aliquam odio nibh, fringilla at est sed, tincidunt venenatis arcu. In est sapien, dapibus ac nunc et,
            porttitor fringilla elit. Morbi et erat nec erat consectetur tempus id id nunc. Nam ac auctor mauris.
          </div>
        </div>
        <div class="col-1" style="background-color:white;">
        </div>
      </div>
    </div>
    <div class="container-fluid productsContainer">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
          <div class="container-fluid">
            <div class="row row-cols-auto">
              <div class="col-3">
                <div class="container text-center">
                  <div class="productImgContainer mx-auto">
                    <img
                      src="https://cdn.thewirecutter.com/wp-content/media/2022/10/drones-2048px-0706-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024&dpr=2"
                      alt="image" class="img-fluid productImg ">
                  </div>
                  <div class="productTitleContainer">
                    <a>Unmanned Aerial System</a>
                  </div>
                  <div class="productContentContainer">
                    Duis vitae libero eget lacus luctus facilisis vitae at urna. Suspendisse sed laoreet magna,
                    vel pellentesque tellus. Vivamus nec leo accumsan, scelerisque justo vitae, laoreet purus.
                    Etiam et cursus orci. Donec aliquam nunc sed ultrices congue. Nunc accumsan dolor in sem tincidunt
                    consequat.
                  </div>
                  <button type="button" class="btn productBtn mx-auto">
                    See More
                  </button>
                </div>
              </div>
              <div class="col-3">
                <div class="container text-center">
                  <div class="productImgContainer mx-auto">
                    <img src="https://yp4h.osu.edu/wp-content/uploads/Buckeye-Path-To-Wellness-Map.jpg" alt="image"
                      class="img-fluid productImg ">
                  </div>
                  <div class="productTitleContainer">
                    Map Fields Autonomously
                  </div>
                  <div class="productContentContainer">
                    Duis vitae libero eget lacus luctus facilisis vitae at urna. Suspendisse sed laoreet magna,
                    vel pellentesque tellus. Vivamus nec leo accumsan, scelerisque justo vitae, laoreet purus.
                    Etiam et cursus orci. Donec aliquam nunc sed ultrices congue. Nunc accumsan dolor in sem tincidunt
                    consequat.
                  </div>
                  <button type="button" class="btn productBtn mx-auto">
                    See More
                  </button>
                </div>
              </div>
              <div class="col-3">
                <div class="container text-center">
                  <div class="productImgContainer mx-auto">
                    <img
                      src="https://res.cloudinary.com/dtpgi0zck/image/upload/s--D1_2IbT3--/c_fill,h_580,w_860/v1/EducationHub/photos/crops-growing-in-thailand.webp"
                      alt="image" class="img-fluid productImg ">
                  </div>
                  <div class="productTitleContainer">
                    Make Better Crop
                    Management Decisions
                  </div>
                  <div class="productContentContainer">
                    Duis vitae libero eget lacus luctus facilisis vitae at urna. Suspendisse sed laoreet magna,
                    vel pellentesque tellus. Vivamus nec leo accumsan, scelerisque justo vitae, laoreet purus.
                    Etiam et cursus orci. Donec aliquam nunc sed ultrices congue. Nunc accumsan dolor in sem tincidunt
                    consequat.
                  </div>
                  <button type="button" class="btn productBtn mx-auto">
                    See More
                  </button>
                </div>
              </div>
              <div class="col-3">
                <div class="container text-center">
                  <div class="productImgContainer mx-auto">
                    <img src="https://miro.medium.com/max/1400/1*e-f-6BRq4-Bv4jW6CSjiTg.webp" alt="image"
                      class="img-fluid productImg ">
                  </div>
                  <div class="productTitleContainer">
                    State of The Art
                    Edge Computing
                  </div>
                  <div class="productContentContainer">
                    Duis vitae libero eget lacus luctus facilisis vitae at urna. Suspendisse sed laoreet magna,
                    vel pellentesque tellus. Vivamus nec leo accumsan, scelerisque justo vitae, laoreet purus.
                    Etiam et cursus orci. Donec aliquam nunc sed ultrices congue. Nunc accumsan dolor in sem tincidunt
                    consequat.
                  </div>
                  <button type="button" class="btn productBtn mx-auto">
                    See More
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
  </div>

  <!-- PRODUCT PAGE END HERE & TESTIMONIALTWO STARTS -->
  <div id="testimonialTwo" class="container-fluid testimonialTwoContainer">
    <div class="container-fluid testimonialTwoStyleContainer">
    </div>
    <div class="container-fluid">
      <div class="row row-cols-auto">
        <div class="col-4 testimonialSentenceLg">
          With the Right <br>Software, Great<br> Things Can Happen
        </div>
        <div class="col-4 testimonialSentenceSm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus nunc a dapibus sodales.
          Aliquam odio nibh, fringilla at est sed, tincidunt venenatis arcu. In est sapien, dapibus ac nunc et,
          porttitor fringilla elit. Morbi et erat nec erat consectetur tempus id id nunc. Nam ac auctor mauris.
          In nec orci sit amet est pulvinar volutpat. Maecenas vehicula, mi venenatis condimentum semper,
          ipsum mauris feugiat elit, eget convallis lectus erat vel leo. Praesent congue mi ut malesuada convallis.
          Suspendisse potenti.
          Ut consequat lorem ac enim convallis, ac sodales urna dignissim.
        </div>
      </div>
    </div>
  </div>


  <!-- TESTIMONIALTWO PAGE END HERE & DEMO STARTS -->
  <!-- when ready, copy paste the demo.html and uncomment height for demoContainer-->
  <div id="demo" class="container-fluid demoContainer">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            The demo section will be coming soon...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </div>

  <!-- DEMO PAGE END HERE & ABOUT STARTS -->
  <div id="about" class="aboutContainer container-fluid">
    <div class="AboutInfo">
      <div class="row">
        <div class="col-12 offset-1">
          <div class="AboutInfoTitle">
            Meet the Team
          </div>
        </div>
      </div>
    </div>
    <div class="teamContainer container-fluid">
      <div class="row">
        <div class="col-4">
          <div id="VinayAboutContainer" class="container-fluid personInfoContainer">
            <div class="container-fluid personInfoStyleContainer">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="personInfoTextContainer">
              <div class="aboutTextContainer">
                "Dr. Stewart is a co-lead on activities related to digital agriculture in the
                ICICLE AI Institute. He is an international scholar and has made core contributions
                in the areas of cloud computing, edge computing, sustainable computing, digital agriculture, and
                computer architecture."
              </div>

              <div class="aboutSigContainer">
                Dr. Christopher Stewart, <br>
                The Ohio State University
              </div>
              <img
                src="https://user-images.githubusercontent.com/69735000/210827943-6fb9c125-9b87-48e8-a9d3-709d85aea79e.png"
                alt="image" class="PersonImg">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div id="EduardoAboutContainer" class="container-fluid personInfoContainer">
            <div class="container-fluid personInfoStyleContainer">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="personInfoTextContainer">
              <div class="aboutTextContainer">
                "Eduardo is a 5th year PhD student at The Ohio State University.
                His research has focused on support for interpretable AI models.
                Eduardo's work includes an approach for minimizing latency on decision tree ensemble models.
                Recently, he has done some work on using ensemble models to provide interpretation to digital
                agriculture models
                that use neural networks."
              </div>
              <div class="aboutSigContainer">
                Eduardo Romero, <br>
                The Ohio State University
              </div>
              <img
                src="https://user-images.githubusercontent.com/69735000/221900920-85ef9af0-f94b-473d-b2ab-07e7af9cd877.png"
                alt="image" class=" PersonImg">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div id="YannAboutContainer" class="container-fluid personInfoContainer">
            <div class="container-fluid personInfoStyleContainer">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="personInfoTextContainer">
              <div class="aboutTextContainer">
                "Chengyan, a senior undergraduate student at The Ohio State University,
                has been focused on web development, networking, and 2D game development
                for the last two years. He designed and developed the draft version of
                the ICICLE Digital Agriculture webpage and is continuously working on it."
              </div>
              <div class="aboutSigContainer">
                Chengyan Wang, <br>
                The Ohio State University
              </div>
              <img
                src="https://user-images.githubusercontent.com/69735000/211344977-561853c6-1824-4e1e-963d-00f28cde90b2.png"
                alt="image" class="PersonImg">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div id="JackieAboutContainer" class="container-fluid personInfoContainer">
            <div class="container-fluid personInfoStyleContainer">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="personInfoTextContainer">
              <div class="aboutTextContainer">
                "Currently a 4th year Under graduate at Ohio State University
                studing Computer Science Engineering with minors in Chinese and Math."
              </div>
              <div class="aboutSigContainer">
                Jackie Cheng, <br>
                The Ohio State University
              </div>
              <img src="" alt="image" class="PersonImg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT PAGE END HERE & CONTACT STARTS -->
  <div id="contact" class="container-fluid contactContainer">
    <div class="container contact__container">
      <div class="contact__left">
        <h2>Contact</h2>
        <p>
          Hi, thank you for visiting out website, if you would like to contact us, feel free to fill out the MS form and
          leave you name, email,
          and a short message here. We will get back to you as soon as possible.
        </p>
      </div>
      <iframe width="480px" height="250px" src="https://forms.office.com/r/2nViF5mUNi" frameborder="0" marginwidth="0"
        marginheight="0" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></iframe>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
  <!-- <script src="main.js"> -->
  <script src="{% static 'js/main.js' %}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'js/main.js' %}"> -->
  </script>
</body>

</html>

<!-- https://forms.office.com/pages/designpagev2.aspx?subpage=design&id=NlYJ61IQlUiVKx_53x0RIe3HpHdKP5BLsNxpB40M09xUOVRRSUUyR0dMNkJZNDQ0WlM4N0JSV05HRSQlQCN0PWcu -->